.techs {
    padding: 100px 70px;
    background-color: #272727;
}

@media (max-width: 1279px) {
    .techs {
        padding: 90px 50px;
    }
}

@media (max-width: 767px) {
    .techs {
        padding: 70px 18px;
        background-color: #202020;
    }
}

.techs__title {
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    margin: 90px 0 0 0;
    letter-spacing: calc(-50px * 0.04);
}

@media (max-width: 1279px) {
    .techs__title {
        margin-top: 80px;
    }
}

@media (max-width: 767px) {
    .techs__title {
        font-size: 30px;
        line-height: 36px;
        margin-top: 60px;
    }
}

.techs__subtitle {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: calc(-20px * 0.04);
    margin: 26px auto 100px auto;
    max-width: 460px;
}

@media (max-width: 1279px) {
    .techs__subtitle {
        margin-top: 22px;
        margin-bottom: 83px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: unset;
    }
}

@media (max-width: 767px) {
    .techs__subtitle {
        font-size: 11px;
        line-height: 16px;
        margin-top: 24px;
        margin-bottom: 50px;
    }
}


.techs__list {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(7, 90px);
    gap: 10px;
    margin: 0;
}

@media (max-width: 1279px) {
    .techs__list {
        grid-template-columns: repeat(7, 84px);
        padding: 0;
    }
}

@media (max-width: 767px) {
    .techs__list {
        padding: 0 57px;
        grid-template-columns: repeat(2, 84px);
    }
}

.techs__item {
    display: inline-grid;
    justify-content: center;
    background-color: #303030;
    border-radius: 10px;
    list-style: none;
}

.techs__name {
    padding: 21px 0;
    line-height: 18px;
    font-size: 14px;
}

@media (max-width: 1279px) {
    .techs__name {
        font-size: 12px;
        line-height: 15px;
    }
}
