.portfolio {
    background-color: #202020;
    text-align: left;
    padding: 0 70px 125px 70px;
}

@media (min-width: 1280px) {
    .portfolio {
        padding-left: 140px;
        padding-right: 140px;
    }
}

.portfolio__header {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
}
.portfolio__links {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.portfolio__link {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: calc(-30px * 0.04);
    position: relative;
}

.portfolio__link::before {
    content: '';
    background: url('../../../../images/arrow.svg') no-repeat center;
    width: 29px;
    height: 60px;
    position: absolute;
    right: 0;
}

.portfolio__link::after {
    content: '';
    display: block;
    width: 100%;
    border: .5px solid #424242;
    margin-top: 19px;
    margin-bottom: 20px;
}
