.movies__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 38px;
    align-items: baseline;
    margin-top: 0;
    margin-bottom: 60px;
}



@media (max-width: 1279px) {
    .movies__list {
        /*padding-top: 80px;*/
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 30px;
    }
}

@media (max-width: 767px) {
    .movies__list {
        grid-template-columns: auto;
        row-gap: 34px;
        margin-bottom: 50px;
    }
}
