.header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 18px 70px;
}

.header__landing {
  background-color: #073042;
}

.header__home:hover, .header__home:active {
  opacity: .8;
}

.header__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  height: 32px;
}

.header__wrapper_side_right {
  padding-top: 4px;
}

.header__button {
  all: unset;
  cursor: pointer;
  width: 76px;
  padding-top: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.header__button-signup {
  color: rgba(255, 255, 255, 1);
}

.header__button-signin {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(61, 220, 132, 1);
  border-radius: 3px;
  width: auto;
  padding: 8px 20px;
}

.header__links {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, auto);
}

.header__link {
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  margin: auto 0;
  color: inherit;
}

.header__link_state_active {
  font-weight: 500;
}

.header__link:hover, .header__link:active {
  opacity: .8;
}

.header__link:visited, .header__link:focus, .header__link:hover {
  color: inherit;
}

.header__profile {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 32px;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  font-size: 13px;
  line-height: 12px;
  font-weight: 500;
  padding-left: 11px;
  vertical-align: middle;
  background: none;
  border: none;
  border-radius: 40px;
  box-sizing: border-box;
  text-align: left;
  color: inherit;
}

.header__profile:hover, .header__profile:active {
  opacity: .8;
}

.header__profile::after {
  content: '';
  position: absolute;
  right: 3px;
  top: 3px;
  display: inline-block;
  border-radius: 50px;
  background: #313131 url('../../images/profile_icon.svg') no-repeat 50% 50%;
  background-size: 12px 12px;
  width: 26px;
  height: 26px;
}

/*.header__profile_location_landing::before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  display: inline-block;*/
/*  right: 3px;*/
/*  top: 3px;*/
/*  width: 26px;*/
/*  height: 26px;*/
/*  border-radius: 50px;*/
/*  background-color: #0F4157;*/
/*}*/

.header__profile.header__profile_location_landing::after {
  background-color: #0F4157;
}
