.movies__searchform {
    position: relative;
    width: 100%;
    margin-bottom: 150px;
}

.movies__searchform::after {
    content: '';
    height: 1px;
    display: block;
    position: absolute;
    width: 100%;
    background-color: #424242;
    margin-top: 69px;
}

@media (max-width: 1279px) {
    .movies__searchform {
        margin-bottom: 190px;
    }

    .movies__searchform::after {
        margin-top: 109px;
    }
}

@media (max-width: 767px) {
    .movies__searchform {
        margin-bottom: 160px;
    }
}

.movies__input {
    all: unset;
    /*outline: #0F4157 1px solid;*/
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 72px;
    border-radius: 9px;
    text-align: left;
    padding-left: 63px;
    padding-right: 276px;
    background: #2F2F2F url("../../../images/search.svg") no-repeat left 19px top 21px;
}

.movies__input:focus {
    border: solid #4285F4;
}

@media (max-width: 767px) {
    .movies__input {
        background-image: unset;
        padding-left: 19px;

    }
}

@media (max-width: 767px) {
    .movies__input {
        padding-right: 0;
    }
}

.movies__input::placeholder {
    position: absolute;
    color: #8B8B8B;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
}

.movies__input:active {
    outline: #0F4157 1px solid;
}

@media (max-width: 767px) {
    .movies__input::placeholder {
        font-size: 14px;
        line-height: 22px;
        top: calc(50% - 20px/2);
    }
}

.movies__button {
    text-decoration: none;
    border: none;
    color: white;
    font-weight: 500;
    position: absolute;
    cursor: pointer;
    top: calc(50% - 34px/2);
    right: 257px;
    border-radius: 50px;
    background-color: #4285F4;
    font-size: 11px;
    line-height: 18px;
    width: 59px;
    height: 34px;
}

.movies__button::after {
    content: '';
    position: absolute;
    background-color: #424242;
    height: 40px;
    width: 1px;
    top: -3px;
    right: -30px;
}

@media (max-width: 1279px) {
    .movies__button {
        right: 227px;
    }

    .movies__button::after {
        right: -19px;
    }
}

@media (max-width: 767px) {
    .movies__button {
        right: 19px;
    }

    .movies__button::after {
        content: unset;
    }
}

.movies__button:hover, .movies__button:active {
    opacity: .9;
}



