.movies__container {
    position: absolute;
}

.movies__container {
    position: absolute;
    top: calc(50% + 26px);
    right: 161px;
}
.movies__switch {
    position: relative;
    width: 36px;
}

.movies__switch::after {
    content: 'Короткометражки';
    position: absolute;
    font-size: 13px;
    line-height: 18px;
    left: calc(100% + 14px);
    top: 1px;
}

.movies__checkbox {
    display: none;
}
.movies__label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50px;
    background: #343434;
}

.movies__label::before,
.movies__label::after {
    content: "";
    float: left;
    height: 20px;
}

.movies__indicator {
    display: block;
    width: 16px;
    margin: 2px;
    background: #2BE080;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 50%;
    transition: all 0.3s ease-in 0s;
}

.movies__checkbox:checked + .movies__label .movies__indicator {
    left: 16px;
}
