.navtab {
    font-size: 22px;
    line-height: 27px;
    text-align: left;
}

.navtab::after {
    content: '';
    width: 100%;
    display: block;
    margin-top: 23px;
    border: .5px solid #DADADA;
}


@media (max-width: 767px) {
    .navtab {
        font-size: 18px;
        line-height: 22px;
    }

    .navtab::after {
        margin-top: 28px;
    }

    .navtab_line_black::after {
        border-color: #000000;
    }
}
